[submodule "include"]
	path = include
	url = git@dev.pandocloud.com:gateway-dev/esp8266-offcial-include.git
[submodule "lib"]
	path = lib
	url = https://dev.pandocloud.com/gateway-dev/esp8266-sdk-environment.git
[submodule "app/binary-protocol-tool"]
	path = app/binary-protocol-tool
	url = https://dev.pandocloud.com/gateway-dev/binary-protocol-tool.git
[submodule "app/pando"]
	path = app/pando
	url = https://dev.pandocloud.com/gateway-dev/pdgate-esp8266.git
[submodule "app/driver"]
	path = app/driver
	url = https://dev.pandocloud.com/hardware-dev/esp8266-driver.git
[submodule "app/pando_subdevice/pando_sub_device"]
	path = app/pando_subdevice/pando_sub_device
	url = https://dev.pandocloud.com/hardware-dev/esp8266-pando-subdevice.git
